<div class="login" [style.min-height.px]="bodyHeight">
  <div class="login-table-container" [style.min-height.px]="bodyHeight">
    <div class="table-row">
      <div class="login-box">
        <div class="msg-box">
          <p>Type your username to receive an email to reset password</p>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="forgot(forgotForm)" novalidate>
          <div class="input-container">
            <label>Username</label>
            <input 
              type="text"
              name="username"
              formControlName="username"
            >
            <span class="error-text" *ngIf="forgotForm.get('username').hasError('required') && forgotForm.get('username').touched && forgotForm.get('username').hasError('email')">Username is required</span>
            <span class="error-text" *ngIf="!forgotForm.get('username').hasError('required') && forgotForm.get('username').hasError('email') && forgotForm.get('username').touched">Invalid Email</span>
          </div>
          <div class="input-container">
            <input type="submit" value="Send me email" class="login-btn">
          </div>
          <div class="forgot text-left">
            <a [routerLink]="['/login']">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>